body .MuiPaper-elevation1{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.07);
}
.main-map-div{
    height:39rem!important;
    max-width: 100%!important;
    /* margin-top:3rem!important; */
}

/* .word-wrap {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
} */
.country-input{
    width: 90%!important;
}
.search-button{
    height: 55px;
    width: 100%;
}
.who-image{
    width: 100%!important;
}
.logo-icon{
    width:15%!important
}
/* .logo-text{
    width:60%!important
} */

.heading{
    font-size: 12px!important;
}
.logo-text{
    height:auto!important;
}
/* Smartphones (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
        .logo-text{
            width:20%!important
        }
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
        .logo-text{
            width:25%!important
        }
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
        .logo-text{
            width:20%!important
        }
        .heading{
            font-size: 12px!important;
        }
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
        .logo-text{
            width:50%!important
        }
        .heading{
            font-size: 20px!important;
        }
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
        .logo-text{
            width:50%!important
        }
        .heading{
            font-size: 20px!important;
        }
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
        .logo-text{
            width:50%!important
        }
        .heading{
            font-size: 20px!important;
        }
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
        .logo-text{
            width:50%!important
        }
        .heading{
            font-size: 20px!important;
        }
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
        .logo-text{
            width:40%!important
        }
        .heading{
            font-size: 20px!important;
        }
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
        .logo-text{
            width:60%!important
        }
        .heading{
            font-size: 20px!important;
        }
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
        .logo-text{
            width:60%!important
        }
        
        .heading{
            font-size: 20px!important;
        }
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
        .logo-text{
            width:20%!important
        }
        .heading{
            font-size: 12px!important;
        }
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
        .logo-text{
            width:20%!important
        }
        .heading{
            font-size: 12px!important;
        }
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
        .logo-text{
            width:20%!important
        }
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
        .logo-text{
            width:20%!important
        }
        .heading{
            font-size: 12px!important;
        }
    }
    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
        .logo-text{
            width:20%!important
        }
        .heading{
            font-size: 12px!important;
        }
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
        .logo-text{
            width:20%!important
        }
        .heading{
            font-size: 12px!important;
        }
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
        .logo-text{
            width:20%!important
        }
        
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
        .logo-text{
            width:20%!important
        }
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
        .logo-text{
            width:20%!important
        }
        .heading{
            font-size: 12px!important;
        }
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
        .logo-text{
            width:20%!important
        }
        .heading{
            font-size: 12px!important;
        }
    }
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
        .logo-text{
            width:20%!important
        }
        
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
        .logo-text{
            width:20%!important
        }
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
        .logo-text{
            width:30%!important
        }
        .heading{
            font-size: 12px!important;
        }
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
        .logo-text{
            width:20%!important
        }
        .heading{
            font-size: 12px!important;
        }
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
        .logo-text{
            width:20%!important
        }
        .heading{
            font-size: 12px!important;
        }
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
        .logo-text{
            width:20%!important
        }
        .heading{
            font-size: 12px!important;
        }
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
        .logo-text{
            width:20%!important
        }
        .heading{
            font-size: 12px!important;
        }
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
        .logo-text{
            width:20%!important
        }
        .heading{
            font-size: 12px!important;
        }
    }
    
