body .MuiPaper-elevation1{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.07);
}
.main-map-div{
    height:39rem!important;
    max-width: 100%!important;
    /* margin-top:3rem!important; */
}

/* .word-wrap {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
} */
.country-input{
    width: 90%!important;
}
.search-button{
    height: 55px;
}
.who-image{
    width: 100%!important;
}
.logo-icon{
    width:15%!important
}
.logo-text{
    width:60%!important
}

@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
   /* styles for mobile browsers smaller than 480px; (iPhone) */
   .logo-text {
        width: 25%!important;
    }
}
@media only screen and (device-width: 768px) {
   /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
    .logo-text {
        width: 35%!important;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
    .logo-text {
        width: 35%!important;
    }
}
